<div class="x_panel">
    <div class="x_title">
        <h2>Itens Cadastrados </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Servico </th>
                        <th class="column-title">VDN</th>
                        <th class="column-title">Descricao </th>
                        <th class="column-title">Titulo</th>
                        <th class="column-title">Ordem</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="even pointer">
                        <td class=" ">HOMOLOGACAO_TOOLBAR</td>
                        <td class=" ">SAC_VELOX</td>
                        <td class=" ">Voce verificou se o cliente possui algum bloqueio? <i class="success fa fa-long-arrow-up"></i></td>
                        <td class=" ">Descrição</td>
                        <td class=" ">1</td>

                    </tr>
                    <tr class="odd pointer">
                        <td class=" ">HOMOLOGACAO_TOOLBAR</td>
                        <td class=" ">SAC_VELOX</td>
                        <td class=" ">Esse cliente possui algum algum produto Oi TV? <i class="success fa fa-long-arrow-up"></i></td>
                        <td class=" ">Descrição</td>
                        <td class=" ">2</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
