<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Arquivos anexos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Selecione varios arquivos na caixa abaixo para adiconar aos anexos do paciente.</p>
                
                    <form action="_PacienteAnexos.html" class="dropzone"></form>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
        </div>
    </div>
</div>

<!-- Dropzone.js -->
<script src="../vendors/dropzone/dist/min/dropzone.min.js"></script>